<template>
  <v-container>
    <h1 class="text-center ma-6">Meuble31</h1>
    <v-row>
      <v-col v-for="(item, index) in meubleList" :key="index">
        <v-card class="ma-2">
          <v-card-title>{{ item.name }}</v-card-title>
          <v-card-text>
            <ul>
              <li>{{ item.state }}</li>
              <li>{{ item.storage_location }}</li>
              <li>{{ item.price }}</li>
            </ul>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-btn color="primary" @click="getMeubles()">API CALL</v-btn>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      meubleList: [],
    };
  },
  methods: {
    getMeubles() {
      axios.get("http://localhost:8000/api/meubles/").then((res) => {
        console.log(res.data);
        this.meubleList = res.data;
      });
    },
  },
};
</script>
