<template>
  <div id="app">
    <v-app>
      <v-main>
        <v-app-bar :elevation="2">
          <v-app-bar-action>
              <v-btn to="/">Home</v-btn>
              <v-btn to="/login">Login</v-btn>
          </v-app-bar-action>
        </v-app-bar>
        <router-view />
      </v-main>
    </v-app>
  </div>
</template>
