<template>
  <div>
    <h1 class="text-center">Login</h1>
    <v-container>
      <v-card class="pa-4">
        <v-text-field v-model="username" label="username"></v-text-field>
        <v-text-field v-model="password" type="password" label="password"></v-text-field>
        <v-btn @click="login()" color="primary">Login</v-btn>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      password: "",
      username: "",
    };
  },
  methods: {
    login() {
      axios
        .post("http://localhost:8000/api/token/", {
          username: this.username,
          password: this.password,
        })
        .then((res) => {
          console.log(res.data);
          localStorage.setItem("refresh",res.data.refresh)
          localStorage.setItem("access", res.data.access)
        });
    },
  },
};
</script>
